# Ignorar todo el contenido del directorio data/
data/

frontend-elecciones/node_modules/

backend-elecciones/node_modules/

backend-elecciones/package-lock.json

frontend-elecciones/package-lock.json

